section {
  width: 1080px;
  margin: 50px auto;
  overflow: hidden;
}
nav {
  width: 300px;
  background-color: #F3F3F3;
  margin-right: 80px;
  box-sizing: border-box;
  padding: 15px;
  float: left;
}
nav > h1 {
  border-bottom: 3px solid #A7A7A7;
  box-sizing: border-box;
  padding: 15px;
  font-size: 20px;
}
nav ul h4 {
  margin: 15px -10px 0;
}
nav ul li {
  margin-left: 25px;
  line-height: 25px;
}
nav ul li a:hover {
  color: black;
}
aside {
  width: 700px;
  background-color: #F3F3F3;
  float: left;
  box-sizing: border-box;
  padding: 20px;
}
aside > h1 {
  border-bottom: 3px solid #A7A7A7;
  box-sizing: border-box;
  padding: 15px;
  font-size: 20px;
}
aside h4 {
  margin: 30px 0;
}
aside ul li {
  line-height: 25px;
  text-indent: 2em;
  margin-bottom: 10px;
}
aside dt {
  font-size: 18px;
  font-weight: 700;
  margin: 20px 0;
}
aside dd {
  line-height: 25px;
  text-indent: 2em;
}
