* {
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 0 auto;
}
.h1 {
  border: 1px solid #f3f3f3;
}
.h2 {
  border: 1px solid #eaeaea;
}
.h3 {
  border: 1px solid #d0d0d0;
}
article .tit {
  width: 1080px;
  height: 135px;
  font-size: 42px;
  color: #32322a;
  line-height: 135px;
  text-align: center;
}
article .bian {
  color: #fb534a;
}
article ul {
  width: 720px;
  height: 60px;
  overflow: hidden;
  padding-left: 380px;
}
article ul li {
  float: left;
  font-size: 20px;
  width: 165px;
  text-decoration: none;
  color: #a4a4a4;
  text-align: center;
}
article ul li a {
  color: #313131;
}
article ul li:nth-child(1) {
  border-bottom: 4px solid #fd5238;
}
article ul li:nth-child(1) a {
  color: #fd5238;
}
article ul li:hover {
  border-bottom: 4px solid #fd5238;
}
article ul li:hover a {
  color: #fd5238;
}
.ctt {
  background-color: #f7f7f7;
}
.ctt .ctn,
.ctt .gengduo {
  padding-top: 26px;
  width: 1080px;
  overflow: hidden;
  font-size: 13px;
  color: #494949;
}
.ctt .ctn div,
.ctt .gengduo div {
  margin-left: 24px;
  margin-right: 23px;
  float: left;
  width: 223px;
  height: 180px;
  margin-bottom: 20px;
  background: url(../img/xin.png) no-repeat 200px 168px, url(../img/reply.png) no-repeat 180px 168px;
}
.ctt .ctn div img,
.ctt .gengduo div img {
  width: 223px;
  height: 132px;
  margin-bottom: 10px;
}
.ctt section {
  background: url(../img/more.png) 470px 7px no-repeat;
  width: 1080px;
  text-align: center;
  margin-top: 60px;
  padding-bottom: 60px;
}
.ctt section a {
  text-decoration: none;
  color: #ff4031;
}
