* {
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 0 auto;
}
header .head {
  position: relative;
  width: 1080px;
  height: 75px;
  line-height: 75px;
  background: url(../../img/logonew.png) no-repeat 0px 0px;
  background-size: 130px;
}
header .head ul {
  margin-left: 200px;
  overflow: hidden;
}
header .head ul li {
  float: left;
  margin-right: 50px;
}
header .head ul li a {
  text-decoration: none;
  font-size: 20px;
  color: #313131;
}
header .head ul li a:hover {
  color: #fb534a;
}
header .head .zc {
  position: absolute;
  top: -21px;
  right: 1px;
}
header .head .zc button {
  width: 53px;
  height: 33px;
  margin-left: 33px;
  color: #f8563d;
  border: 1px solid #f8563d;
  outline: none;
  border-radius: 5%;
  background-color: transparent;
}
.h1 {
  border: 1px solid #f3f3f3;
}
.h2 {
  border: 1px solid #eaeaea;
}
.h3 {
  border: 1px solid #d0d0d0;
}
section {
  background: red url(../../img/original.jpg) no-repeat -336px 0px;
}
section .banx1 {
  width: 1080px;
}
section .banx1 .yx {
  text-align: right;
  padding: 28px 0;
}
section .banx1 .yx .op {
  font-size: 34px;
  color: #f7feff;
  margin-bottom: 25px;
}
section .banx1 .yx span {
  display: inline-block;
  height: 26px;
  font-size: 17px;
  color: #fcfdf8;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 12px;
  border: 0px solid transparent ;
  border-radius: 10%;
  margin-bottom: 25px;
  margin-right: 12px;
}
section .banx1 .yx .tp {
  font-size: 18px;
  color: #fcfdf8;
  margin-bottom: 25px;
}
section .banx1 .yx button {
  width: 244px;
  height: 50px;
  font-size: 26px;
  color: #fefffd;
  background-color: #fe5341;
  border: 0px solid transparent;
  border-radius: 3%;
}
nav {
  background-color: rgba(0, 0, 0, 0.1);
}
nav .bx2 {
  width: 1080px;
  overflow: hidden;
  padding: 15px 0px;
}
nav .bx2 span {
  display: block;
  font-size: 25px;
  color: #35322d;
  width: 66px;
  border-left: 6px solid #fc5133;
  float: left;
}
nav .bx2 ul {
  overflow: hidden;
}
nav .bx2 ul li {
  float: left;
  font-size: 15px;
  color: #6b6e67;
  width: 60px;
  padding-top: 50px;
  margin-right: 70px;
  margin-left: 70px ;
}
nav .bx2 ul li:nth-child(1) {
  background: url(../../img/use1.png) no-repeat 12px 8px;
}
nav .bx2 ul li:nth-child(2) {
  background: url(../../img/use2.png) no-repeat 12px 8px;
}
nav .bx2 ul li:nth-child(3) {
  background: url(../../img/use3.png) no-repeat 12px 8px;
}
nav .bx2 ul li:nth-child(4) {
  background: url(../../img/use4.png) no-repeat 12px 8px;
}
nav .bx2 ul li:nth-child(5) {
  background: url(../../img/use5.png) no-repeat 12px 8px;
}
article .bx3 {
  position: relative;
  width: 1080px;
}
article .bx3 .rig {
  width: 710px;
  margin: 0px;
  padding-top: 35px;
}
article .bx3 .rig .tt {
  font-size: 20px;
  color: #4f4f4f;
  display: inline-block;
  width: 100px;
  height: 40px;
  line-height: 40px;
  border-left: 6px solid #ff5537;
}
article .bx3 .rig .pa {
  font-size: 19px;
  color: #fb0000;
  font-weight: bold;
  margin-top: 25px;
}
article .bx3 .rig .pb {
  font-size: 17px;
  color: #3b2d2d;
  margin-top: 30px;
  margin-bottom: 30px;
}
article .bx3 .rig .tit1 {
  font-size: 18px;
  color: #236fcf;
  margin-top: 45px;
}
article .bx3 .rig .pb1 {
  font-size: 16px;
  color: #0973af;
}
article .bx3 .rig .pb2 {
  font-size: 18px;
  color: #ff0625;
  margin-top: 30px;
}
article .bx3 .rig ul {
  margin-top: 10px;
}
article .bx3 .rig ul li {
  font-size: 18px;
  color: #655d6c;
  margin-top: 5px;
  margin-bottom: 5px;
}
article .bx3 .rig ul li span {
  color: #1c231c;
}
article .bx3 aside {
  position: absolute;
  right: 68px;
  top: 0px;
  width: 280px;
}
article .bx3 aside .tt1 {
  margin: 0 0;
  font-size: 20px;
  color: #4f4f4f;
  display: inline-block;
  width: 100px;
  height: 40px;
  line-height: 40px;
  border-left: 6px solid #ff5537;
  margin-top: 30px;
  padding-left: 15px;
}
article .bx3 aside .ppa {
  font-size: 35px;
  color: #f8513e;
  margin-top: 30px;
}
article .bx3 aside button {
  width: 250px;
  height: 50px;
  background-color: #fe5341;
  color: #fff6ff;
  font-size: 18px;
  border: 0px solid transparent;
  border-radius: 5%;
  margin-top: 15px;
}
article .bx3 aside .tt2 {
  font-size: 15px;
  color: #c1bfcd;
  text-align: center;
  margin-top: 15px;
}
article .bx3 aside .ppa1 {
  font-size: 13px;
  color: #959fa0;
  margin-top: 10px;
  line-height: 20px;
}
article .bx3 aside .ppa2 {
  font-size: 18px;
  color: #3b3229;
  margin-top: 15px;
}
article .bx3 aside .eevv {
  margin-top: 20px;
}
.tend {
  margin-top: 60px;
}
.tend .bxin {
  width: 1080px;
  overflow: hidden;
}
.tend .bxin .tp1 .try1 {
  margin-right: 850px;
  font-size: 23px;
  color: #484340;
  font-weight: bolder;
}
.tend .bxin .tp1 .try2 {
  font-size: 12px;
  color: #ff6657;
}
.tend .bxin .tup1 {
  margin-right: 35px;
  margin-top: 15px;
  float: left;
  border: 1px solid #eaeaea;
  width: 230px;
  text-align: center;
  font-size: 19px;
  color: #352e35;
}
.tend .bxin .tup1 .an {
  font-size: 14px;
  border: 1px solid #f8563d;
  border-radius: 15%;
  color: #f8563d;
}
.tend .bxin .tup1 img {
  width: 230px;
}
.tend .bxin .tup1 .day {
  color: #f8563d;
}
.tend .bxin .tup1 .ap2 {
  color: #f8563d;
  padding-bottom: 20px;
}
